.mdl-layout__header, .mdl-layout__tab-bar {
  background-color: #11864d !important;
}

.mdl-grid {
  margin: auto;
}

.mdl-layout__tab-bar {
  height: 48px !important;
}

.hidden, .none, .trash {
  display: none !important;
}


.header {
  height: 64px;
}

.small-avatar {
  border-radius: 10px;
  height: 36px;
  margin-right: 10px;

}

table {
  margin: auto;
  width: 100%;
}

.narrow {
  max-width: 30px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-right: 35px !important;
}

.selected {
  background-color: #4998ff;
}

.selected:hover {
  background-color: rgba(73, 152, 255, 0.74) !important;
}


#delete-button {
  float: left;
  background-color: #dd4b39 !important;
  margin-left: 1.3em;
}

#piechart-button {
  float: left;
  background-color: #dd4b39 !important;
  margin-left: 1.3em;
}

#grouping-options {
  margin: 20px auto;
  width: 370px;
}

.group-header {
  font-size: 1.5em;
  font-weight: bold;
  border: 0 !important;
}

.mdl-radio {
  margin: 0 0.5em !important;
}

/* part of this css rule is from http://stackoverflow.com/a/7410812*/
td, th {
  max-width: 140px;
  word-wrap: break-word;
  white-space: normal;
}

@media (max-width: 960px){
  td, th {
    max-width: 70px;
    word-wrap: break-word;
  }
}

@media (max-width: 500px){
  td, th {
    max-width: 70px;
    word-wrap: break-word;
  }
}

.owner {
  padding-right: 13px;
}

#file-count {
  text-align: center;
}

#authorize-div {
  display: block;
  margin: 10em auto;
  width: 300px;
  text-align: center;
}

p {
  text-align: center;
}

#file-count-wrapper {
  border-right: solid 1px black;
}

.mdl-button {
  background-color: #4687F4 !important;
}

#delete-loader {
  display: none;
  float: left;
  height: 0.5em;
  font-size: 3em;
  padding: 0;
  margin: 0.3em 0em 0 1em;
}
/* loading animation below adapted from  http://tympanus.net/codrops/2012/11/14/creative-css-loading-animations/ */

:root {
  --rotationEasing: linear;
  --rotationTime: 4s;
}

.loader {
  font-size: 100px;
  width: 1em;
  height: auto;
  position: relative;
  margin: 150px auto;
  list-style: none;
}

.loader li {
  position: absolute;
  width: .3em;
  height: .2em;
  transform-origin: 0em 0em;
  mix-blend-mode: difference;
  will-change: transform;
}

.loader li:nth-child(1) {
  background: #4687F4;
  animation: rota1 3s linear infinite;
}

.loader li:nth-child(2) {
  background: #1FA463;
  animation: rota2 3s linear infinite;
}

.loader li:nth-child(3) {
  background: #FFCF49;
  animation: rota3 3s linear infinite;
}

@keyframes rota1 {
  0% {
    transform: rotate(0deg) skew(20deg);
    transform-origin: 40% 40%;
    /*     animation-timing-function: ease-in; */
  }
  50% {
    transform: rotate(540deg) skew(20deg);
    margin: 0.25em 0 0 0;
    transform-origin: 0 -0.15em;
  }
  100% {
    transform: rotate(1080deg) skew(20deg);
    transform-origin: 40% 40%;
    animation-timing-function: ease-out;
  }
}
@keyframes rota2 {
  0% {
    transform: rotate(120deg) skew(20deg);
    transform-origin: 40% 40%;
  }
  50% {
    transform: rotate(660deg) skew(20deg);
    margin: 0.25em 0 0 0;
    transform-origin: 0 -0.15em;
  }
  100% {
    transform: rotate(1200deg) skew(20deg);
    transform-origin: 40% 40%;
    animation-timing-function: ease-out;
  }
}
@keyframes rota3 {
  0% {
    transform: rotate(240deg) skew(20deg);
    transform-origin: 40% 40%;
  }
  50% {
    transform: rotate(780deg) skew(20deg);
    margin: 0.25em 0 0 0;
    transform-origin: 0 -0.15em;
  }
  100% {
    transform: rotate(1320deg) skew(20deg);
    transform-origin: 40% 40%;
    animation-timing-function: ease-out;
  }
}
